@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import '~leaflet/dist/leaflet.css';

.backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 0.75rem;
}